# {{ title }}

> {{ description }}

## Site

- URL: {{ url }}
- Author: {{ author | default('developer') }}
- Email: {{ email | default('developer@localhost') }}

## Pages

{% for page in pages %}- [{{ page.title | default(page.url) }}]({{ url }}{{ page.url }})
{% endfor %}

## Feeds

- RSS: {{ url }}/rss.xml
- Sitemap: {{ url }}/sitemap.xml
