<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>{{ title | e }}</title>
    <link>{{ url | e }}</link>
    <description>{{ description | e }}</description>
    <language>{{ language | default('en') | e }}</language>
    <atom:link href="{{ url | e }}/rss.xml" rel="self" type="application/rss+xml"/>
    {% for post in posts %}
    <item>
      <title>{{ post.title | e }}</title>
      <link>{{ url | e }}{{ post.url | e }}</link>
      <guid>{{ url | e }}{{ post.url | e }}</guid>
      <description>{{ post.description | default(post.content) | e }}</description>
      {% if post.date %}<pubDate>{{ post.date | e }}</pubDate>{% endif %}
    </item>
    {% endfor %}
  </channel>
</rss>
